# Exceptions defined in this file will be excluded from the VS Code extension package and final VSIX file.
.vscode/**
.vscode-test/**
node_modules/**
out/test/**
test/**
src/**
out/**
**/*.map
.gitignore
tsconfig.json
webpack.config.js
*.code-workspace
tslint.json
.markdownlint.json
utils/**
images/**
.*/**